@media (max-width: 768px) {
    .navbar{
        width: 100vw;
        position: fixed;
        bottom: 0;
        z-index:999;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
        background-color: #FFFAFA;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}