@media (max-width: 768px) {
    .container-register{
        width: 100vw;
        height: 100vh;
        background-image:url('@/assets/gambar/splashScreen.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .contain-form{
            padding-left:10px ;
            padding-right:10px ;
            width: 75vw;
            border-radius: 10px;
            height: 67%;
            background-color: #fefefe;
            border: 1px solid black;
            .banner{
                width: 100%;
                height: 15vh;
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            form{
                padding: 5px;
                .display-button{
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                }
                .form-group{
                    width: 100%;
                    margin-bottom: 2em;
                    .form-label{
                        padding: 1px;
                    }
                    .form-control{
                        width: 100%;
                        height: 30px;
                        border: 1px #412727 solid;
                        border-radius: 3px;
                    }
                    .btn-submit{
                        padding: 5px;
                        width: 90px;
                        border-radius: 5px;
                        background-color: #9dee6e;
                        color: #fefefe;
                    }
                }
            }
            .btn-google{
                padding: 15px;
                width: 100%;
                background-color: #412727;
                color: #fefefe;
            }
        }
    } 
}